.card-container{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    padding: 20px;
    align-items: center;
    background: #FFFFFF;
    border: 1px solid rgba(2, 74, 102, 0.1);
    border-radius: 20px;
    filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.2));
}

.company-image{
    place-self: center;
}

.company-image img{
    height: 100px;
    width: 100px;
    border-radius: 100%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
}

.job-info{
    padding: 0px 20px 0px 10px;
}

.job-title{
    font-size: 1.2rem;
    font-weight: 600;
}

.job-company{
    font-size: 0.9rem;
    font-weight: 500;
}

.job-description{
    font-size: 0.8rem;
    font-weight: 350;
}

.btn-apply{
    width: 90px;
    height: 30px;
    font-size: 0.8rem;
    background-color: #024A66;
    box-shadow: 0px 2px 4px #024a664d ;
    border-radius: 50px;
    color: #ffff;
    font-weight: 500;
    
}

.btn-apply:hover{
    background-color: #CBD8DD;
    color: #024A66;
}
.jobCard{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 20px;

}
.search-bar{
    display: flex;
    align-items: center;
    height: 40px;
    gap: 20px;
    width: 100%;
    color: #024A66;
    background: #FFFFFF;
    /* color1 */

    border: 1px solid #CBD8DD;
    /* shadow card */

    filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.2));
    border-radius: 10px;
    padding-left: 20px;
    
}
.search-bar input{
    width: 100%;
    outline: none;
}

@media(max-width:800px){
    .card-container .job-description{
        font-size: 0.6rem;
      }
      .company-image img{
        height: 60px;
        width: 60px;
      }
      .card-container .btn-apply {
        width: 60px;
        height: 20px;
        font-size: 0.5rem;
      }
}