.checkbox{
    margin-right: 10px ;
}
#login-form{
    padding-bottom: 20px;
}
.back-login{
    /* margin-top: 20px; */
    padding: 20px;
}
.send-pass{
    margin-bottom: 20px;
}

/* Home */
.layout{
  grid-template-columns: 1fr;
    display: flex;
    width: 100%;
    height: 100%;
}
#sidebar{
    display: none;
}
.login,.reset-password{
    height: 100vh;
}
  #sidebar {
    grid-column: 1;
  }
  
  #dashboard {
    grid-column: 2;
  }

  #sidebar-menu a:hover{
    background-color: #024A66;
    color: #ffffff;

  }


  @media(min-width:800px){
    #sidebar{
        display: block;
    }
    .layout{
      grid-template-columns: 1fr 4.5fr;
      gap: 20px;
    }
    .bottom-bar{
        display: none;
    }
  }
