.checkbox{
    margin-right: 10px ;
}
#login-form{
    padding-bottom: 20px;
}
.back-login{
    /* margin-top: 20px; */
    padding: 20px;
}
.send-pass{
    margin-bottom: 20px;
}

/* Home */
.layout{
  grid-template-columns: 1fr;
    display: flex;
    width: 100%;
    height: 100%;
}
#sidebar{
    display: none;
}
.login,.reset-password{
    height: 100vh;
}
  #sidebar {
    grid-column: 1;
  }
  
  #dashboard {
    grid-column: 2;
  }

  #sidebar-menu a:hover{
    background-color: #024A66;
    color: #ffffff;

  }
  .submit{
    background: #024A66;
  }
  .submit:hover{
    background:#CBD8DD;
    border-color: #CBD8DD;
    color: #024A66;
  }

  #login-form{
    justify-content: flex-start;
  }

  @media(min-width:800px){
    .form-add-job h1, .job-offer-title h1 {
      font-size: 0.8rem;
    }
    #sidebar{
        display: block;
    }
    .layout{
      grid-template-columns: 1fr 4.5fr;
      gap: 20px;
    }
    .bottom-bar{
        display: none;
    }
  }
  @media(max-width:800px){
    .layout{
      margin-bottom: 80px;
      padding-bottom: 40px;
    }
    .logo-auth{
      display: none;
    }
  }


