/* .sidebar ul{
    width:30%;
} */

/* #navbar{
    display: none;
} */
.sidebar{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    height: 100vh;
    border-radius: 20px;
}
#sidebar{
    height: 100%;
}
#sidebar-menu{
    height: fit-content;
    justify-content: center;
    gap: 10px;
    border-radius: 0px 10px 10px 0px;
    padding: 40px 40px;
    background: #FFFFFF;
    /* shadow card */
    
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}