.info-container{
    padding: 40px 20px 20px 20px;
    margin: 0px 20px 80px 0px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background: rgba(219, 230, 235, 0.38);
    border-radius: 20px;
    width: 100%;

}



.main-info{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-items: center;
    padding: 0px 40px;  
    margin-bottom: 20px;
}


.main-info img{
    height: 180px;
    width: 180px;
    border-radius: 100%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
}

.main-info h1{
    font-size: 0.9rem;
    font-weight: 600;
    color: #0a0a0a;
}
.main-info span{
    font-weight: 400;
}

.description h1,.responsibilities h1,.requirements h1,.working-conditions h1{
    font-weight: 600;
    margin-bottom: 20px;
}

.description,.responsibilities,.requirements,.working-conditions{
    padding-left: 40px;

}
.modal{
    padding: 40px;
    border-radius: 10px;
}

.modal-box h3{
    font-size: 2rem;
    font-weight: 600;
    color: #024A66; 
    text-align: center;
    padding: 10px;

}
.modal-box p{
    font-size: 1.2rem;
    padding-bottom: 10px;
}


.btn-close{
    width: 90px;
    height: 30px;
    font-size: 0.8rem;
    background-color:#CBD8DD ;
    box-shadow: 0px 2px 4px #024a664d ;
    border-radius: 50px;
    color: #024A66;
    font-weight: 500;
}
.btn-close:hover{
    background-color: #024A66;
    color: #ffff;
}


@media(max-width:800px){
    .main-info{
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 0px;
    }
    .info-container p{
        font-size: 0.8rem;
       
    }
    .info-container {
        margin: 0px; 
        padding: 40px 20px;      
    }
    .description,.responsibilities,.requirements,.working-conditions{
        padding-left: 0px;
    
    }
}
